**/build/
**/__pycache__/
*.pyc
*.ncu-rep
*.nsys-rep
*.sqlite

/datasets/
/datasets/*.zip
/datasets/__MACOSX/
/datasets.tar.gz
/marp_test/

/cuPF
/superlu

exp/**/cupf_dumps/
exp/**/residuals/
exp/**/raw/
exp/**/results/**/*.tar.gz
exp/**/results/**/target_fanin.csv
exp/**/results/**/diag_target_fanin.csv
exp/**/results/**/row_lengths.csv
exp/**/results/ncu_*/
